version: 2
updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: monthly
    open-pull-requests-limit: 10
    versioning-strategy: increase
    labels:
      - 'pr: dependencies'
    groups:
      jest:
        patterns: ['jest', 'ts-jest', '@types/jest']
      eslint:
        patterns: ['eslint', 'eslint-*', '@typescript-eslint/*']
      vscode:
        patterns: ['vscode-*', '@vscode/*']
    ignore:
      - dependency-name: '@types/vscode'
        update-types: [version-update:semver-minor]
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: monthly
    labels:
      - 'pr: dependencies'
