# Defines the coding style for different editors and IDEs.
# https://editorconfig.org/

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[package.json]
indent_style = space
indent_size = 2

[*.{md,css,yml}]
indent_style = space
indent_size = 2

# Documentation.
[*.md]
max_line_length = 0
trim_trailing_whitespace = false

# Git commit messages.
[COMMIT_EDITMSG]
max_line_length = 0
trim_trailing_whitespace = false
