**/*

# Code

!lib/**/*.js
!index.js
!server.js

# Dependencies

!node_modules/**/*

# Documention

!CHANGELOG.md
!README.md
!screenshot.png
!LICENSE

# Assets

!media/stylelint.png

# Manifest

!package.json
