/* prettier-ignore */
.foo {
  /* stylelint-disable-next-line function-name-case, unknown */
    color: red;
}

/* stylelint-disable function-name-case */ /* prettier-ignore */
.bar {
    color: red;
}
/* stylelint-enable function-name-case */

/* prettier-ignore */
.baz {
    color: red; /* stylelint-disable-line function-name-case */
}

/* stylelint-disable function-name-case */ /* prettier-ignore */
.bar {
    color: red;
}
