/* prettier-ignore */
.foo {
  /* stylelint-disable-next-line color-hex-length, unknown */
    color: red;
}

/* stylelint-disable color-hex-length */ /* prettier-ignore */
.bar {
    color: red;
}
/* stylelint-enable color-hex-length */

/* prettier-ignore */
.baz {
    color: red; /* stylelint-disable-line color-hex-length */
}

/* stylelint-disable color-hex-length */ /* prettier-ignore */
.bar {
    color: red;
}
