name: Release PR

on:
  workflow_dispatch:
    inputs:
      new-version:
        description: New version to release
        required: true
        type: choice
        options: [patch, minor, major]

jobs:
  release-pr:
    # TODO: Update to sha after the PR is merged: https://github.com/stylelint/.github/pull/78
    uses: stylelint/.github/.github/workflows/call-release-pr.yml@add-published-url-input
    with:
      new-version: ${{ github.event.inputs.new-version }}
      published-url: 'https://marketplace.visualstudio.com/items?itemName=stylelint.vscode-stylelint'
    permissions:
      contents: write
      pull-requests: write
