name: Release

on:
  pull_request:
    branches: [main]
    types: [closed]

jobs:
  release:
    # TODO: Update to a specific sha once the PR is merged: https://github.com/stylelint/.github/pull/74
    uses: stylelint/.github/.github/workflows/call-release.yml@support-vscode-pat
    permissions:
      contents: write
      id-token: write
    secrets:
      VSCE_PAT: ${{ secrets.VSCE_PAT }}
