name: Testing

on:
  push:
    branches:
      - main
      - v1.*
  pull_request:
    branches:
      - '**'

jobs:
  lint:
    uses: stylelint/.github/.github/workflows/call-lint.yml@19e58e8a32d5cee3f2b13420f9645b6c4685fed3 # 0.4.0
    permissions:
      contents: read

  test:
    name: Test for Stylelint ${{ matrix.stylelint }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        stylelint: ['14', '15', '16']
    timeout-minutes: 30
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Install Stylelint 15
        run: npm i -D stylelint@15 stylelint-scss@5
        if: ${{ matrix.stylelint == '15' }}

      - name: Install Stylelint 14
        run: npm i -D stylelint@14 stylelint-scss@4.3
        if: ${{ matrix.stylelint == '14' }}

      - name: Run unit tests
        run: npm run test:unit -- --coverage

      - name: Build and bundle
        run: npm run build-bundle

      - name: Run integration tests
        run: npm run test:integration -- --coverage

      - name: Get VS Code binary cache key
        id: vscode-cache-key
        shell: bash
        run: |
          if command -v shasum >/dev/null 2>&1; then
            sum=$(cat package.json | grep 'vscode["\\/]' | shasum -a 256 | cut -d' ' -f1)
          else
            sum=$(cat package.json | grep 'vscode["\\/]' | sha256sum | cut -d' ' -f1)
          fi
          echo "cachekey=${{ runner.os }}-vscode-${sum}" >> $GITHUB_OUTPUT

      - name: Cache VS Code binaries
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        id: vscode-cache
        with:
          path: .vscode-test
          key: ${{ steps.vscode-cache-key.outputs.cachekey }}

      - name: Run end-to-end tests (Linux)
        if: ${{ runner.os == 'Linux' }}
        run: xvfb-run -a npm run test:e2e -- --silent

      - name: Run end-to-end tests (non-Linux)
        if: ${{ runner.os != 'Linux' }}
        run: npm run test:e2e -- --silent

  test-node-versions:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: read
    steps:
      - name: Check out
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: Test Node.js versions
        run: npm run test:node-versions
