name: Testing

on:
  push:
    branches:
      - main
      - v1.*
  pull_request:
    branches:
      - '**'

jobs:
  lint:
    uses: stylelint/.github/.github/workflows/lint.yml@main

  test:
    name: Test for Stylelint ${{ matrix.stylelint }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        stylelint: ['14', '15', '16']
    timeout-minutes: 30
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Install Stylelint 15
        run: npm i -D stylelint@15 stylelint-scss@5
        if: ${{ matrix.stylelint == '15' }}

      - name: Install Stylelint 14
        run: npm i -D stylelint@14 stylelint-scss@4.3
        if: ${{ matrix.stylelint == '14' }}

      - name: Run unit tests
        env:
          NODE_OPTIONS: --experimental-vm-modules
        run: npm run test:unit -- --coverage

      - name: Run integration tests
        env:
          NODE_OPTIONS: --experimental-vm-modules
        run: npm run test:integration -- --coverage

      - name: Cache VS Code binaries
        uses: actions/cache@v4
        id: vscode-cache
        with:
          path: .vscode-test
          key: ${{ runner.os }}-vscode-${{ hashFiles('package.json') }}

      - name: Run end-to-end tests (Linux)
        if: ${{ runner.os == 'Linux' }}
        run: xvfb-run -a npm run test:e2e -- --silent

      - name: Run end-to-end tests (non-Linux)
        if: ${{ runner.os != 'Linux' }}
        run: npm run test:e2e -- --silent
