name: Testing

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'

env:
  CI: true

jobs:
  test-vscode:
    name: VSCode Test on Node.js ${{ matrix.node }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node: [14]
        os: [windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Install latest npm
        run: npm install --global npm@latest
      - name: Install dependencies
        run: npm ci
      - name: Test
        run: npm run test

  test-libs:
    name: Test on Node.js ${{ matrix.node }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node: [12, 14]
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Install latest npm
        run: npm install --global npm@latest
      - name: Install dependencies
        run: npm ci
      # - run: npm run test:inspect-with-kind Results will vary depending on your environment.
      - run: npm run test:array-to-sentence
      - run: npm run test:array-to-error
      - run: npm run test:stylelint-warning-to-vscode-diagnostic
      - run: npm run test:stylelint-vscode
